.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #10152075;
    color: #fff;
    border-radius: 50px;
    font-family: 'Bagel Fat One', cursive;
    text-transform: uppercase;
    font-size: 20px;
    padding: 14px 25px;
    position: sticky;
    top: 15px;
    width: fit-content;
    margin: 0 auto;
    gap: 70px;
    backdrop-filter: blur(2px);
    z-index: 1000;
    animation: fadeIn 1s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .header a {
    text-decoration: none;
    color: #fff;
  }

  .header a:hover {
    color: #101520;
    transform: scale(1.08);
    transition: transform 0.1s ease;
  }